.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px; }

.line1 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

.line2 {
  fill: none;
  stroke: red;
  stroke-width: 1.5px; }

.dot1 {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px; }

.dot2 {
  fill: white;
  stroke: red;
  stroke-width: 1.5px; }

.box {
  fill: none;
  stroke: black;
  stroke-width: 1.5px; }

.role {
  fill: steelblue;
  stroke: black;
  stroke-width: 1.5px; }

.empty {
  fill: white;
  stroke: black;
  stroke-width: 1.5px; }

.ghost0 {
  fill: #000000;
  stroke: black;
  stroke-width: 1.5px; }

.ghost1 {
  fill: #250038;
  stroke: black;
  stroke-width: 1.5px; }

.ghost2 {
  fill: #360052;
  stroke: black;
  stroke-width: 1.5px; }

.ghost3 {
  fill: #49006E;
  stroke: black;
  stroke-width: 1.5px; }

.ghost4 {
  fill: #5A0087;
  stroke: black;
  stroke-width: 1.5px; }

.ghost5 {
  fill: #68009C;
  stroke: black;
  stroke-width: 1.5px; }

.ghost6 {
  fill: #7400AD;
  stroke: black;
  stroke-width: 1.5px; }

.ghost7 {
  fill: #8B00D1;
  stroke: black;
  stroke-width: 1.5px; }

.ghost8 {
  fill: #A113E8;
  stroke: black;
  stroke-width: 1.5px; }

.ghost9 {
  fill: #B423FC;
  stroke: black;
  stroke-width: 1.5px; }

.ghost10 {
  fill: #BC36FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost11 {
  fill: #C145FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost12 {
  fill: #CA61FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost13 {
  fill: #CF70FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost14 {
  fill: #D685FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost15 {
  fill: #DC96FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost16 {
  fill: #E2A8FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost17 {
  fill: #E6B5FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost18 {
  fill: #EBC2FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost19 {
  fill: #F1D6FF;
  stroke: black;
  stroke-width: 1.5px; }

.ghost20 {
  fill: #F8EBFF;
  stroke: black;
  stroke-width: 1.5px; }
