.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px; }

.line1 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

.line2 {
  fill: none;
  stroke: red;
  stroke-width: 1.5px; }

.dot1 {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px; }

.dot2 {
  fill: white;
  stroke: red;
  stroke-width: 1.5px; }

.box {
  fill: none;
  stroke: black;
  stroke-width: 1.5px; }

.ghost {
  fill: gray;
  stroke: black;
  stroke-width: 1.5px; }

.role {
  fill: steelblue;
  stroke: black;
  stroke-width: 1.5px; }

.empty {
  fill: white;
  stroke: black;
  stroke-width: 1.5px; }
